/* .page1 {
  width: 65%;
  margin-top: 3%;
  padding-top: 1500 rem;
} */
.page-section1 h4 {
  color: #ffa500;
  font-weight: bold;
  font-size: 30px;
}
.page-section1 .row {
  margin-top: 10%;
}
.page-img {
  text-align: center;
}
.page-img img {
  width: 40%;
}
.page .dropdown {
  margin-bottom: 5%;
}
.AR-Container {
  width: 100px;
}

.yoga-container {
  width: 80%;
  margin-top: 5%;
  /* margin-left: 15%; */
}
.posedata {
  margin-left: 5%;
  margin-bottom: 1%;
}
